
# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# Local data/models
/data/*
/models/*
!/data/.gitkeep
!/models/.gitkeep
kaggle.json 
