# Set default behavior to handle line endings.
* text=auto eol=lf

*.safetensors filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text

# GitHub Linguist Language Overrides
graphify-out/** linguist-generated=true
graphify-out/** linguist-vendored=true
*.html linguist-documentation=true
*.sig linguist-generated=true
